@theme {
    --animate-slide-in-top: slide-in-top 300ms ease-out both;
    --animate-slide-out-top: slide-out-top 200ms ease-in both;

    @keyframes slide-in-top {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-out-top {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(-100%);
            opacity: 0;
            display: none;
        }
    }
}
